
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    
    font-size: 62.5%; /* 10px for easier rem calculations */
    --font-main: 'Poppins', sans-serif;
    --font-alt: 'Montserrat', sans-serif;
    
   
    --color-background: #f5f5f5;
    --color-primary: #f47d26;
    --color-text: black;
    --color-white: white;
    --color-overlay: rgba(0, 0, 0, 0.25);
    
    
    --spacing-main: 3rem;
    --spacing-small: 1rem;
    --spacing-medium: 2rem;
    --spacing-large: 5rem;
    
    
    --font-weight-bold: bold;
    --font-weight-bolder: bolder;
}


body {
    font-size: 1.6rem;
    background-color: var(--color-background);
    font-family: var(--font-main);
    -webkit-font-smoothing: antialiased;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-main);
    position: sticky;
    top: 0;
    background-color: var(--color-white);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
    max-height: 13rem;
    z-index: 1000;
}

.header-logo img {
    height: 7.5rem;
}

.header-top-menu {
    display: flex;
    list-style: none;
    gap: var(--spacing-small);
    padding-left: var(--spacing-large);
}

.header-top-menu a {
    text-decoration: none;
    color: var(--color-text);
    font-family: var(--font-main);
    font-weight: var(--font-weight-bold);
    letter-spacing: 0.1rem;
}

.header-top-menu a:hover {
    border-bottom: 2px solid var(--color-primary);
}

.sign-up-button {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: var(--spacing-small) var(--spacing-medium);
    border-radius: 0.5rem;
    font-family: var(--font-main);
    font-weight: var(--font-weight-bold);
    letter-spacing: 0.1rem;
    text-decoration: none;
}


.hero-section {
    position: relative;
    background-image: url("hero.jpg");
    background-size: cover;
    background-position: center top 90px;
    height: 71.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-attachment: fixed;
}

.hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-overlay);
    z-index: 1;
}

.hero-content {
    position: relative;
    color: var(--color-white);
    z-index: 3;
    font-family: var(--font-main);
    line-height: 1.2;
    padding-bottom: var(--spacing-large);
}

.hero-title {
    font-size: 5.4rem;
    z-index: 3;
    font-family: var(--font-alt);
    padding-left:20rem;
    letter-spacing: 0;
}

.hero-title .highlight {
    position: relative;
    display: inline-block;
    font-style: normal;
}

.hero-title .highlight::after {
    content: " ";
    position: absolute;
    display: flex;
    width: 50%;
    height: 1.5rem;
    background-color: var(--color-primary);
    padding-left: 23.5rem;
    bottom: 0.5rem;
    z-index: -1;
}

.hero-text {
    font-size: 2rem;
    margin-top: var(--spacing-small);
    z-index: 3;
    background: rgb(36, 62, 144);
    padding: var(--spacing-large) var(--spacing-large) var(--spacing-large) 20rem;
    max-width: 90%;
    height: 12.5rem;
}

.hero-text span {
    color: var(--color-primary);
}

/* Programs Section */
.programs-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: var(--spacing-large);
    margin: 0 20rem;
}

.programs-section h2 {
    font-family: var(--font-alt);
    font-size: 3.4rem;
    font-weight: var(--font-weight-bolder);
    padding-bottom: var(--spacing-large);
    padding-top: 20rem;
}

.programs-section em::after {
    content: " ";
    position: absolute;
    display: flex;
    width: 50%;
    height: 1rem;
    background-color: var(--color-primary);
    padding-left: 8.9rem;
    bottom: 0.3rem;
    z-index: -1;
}

.programs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.program {
    width: 48%;
    margin-bottom: var(--spacing-small);
}

.program h3 {
    font-family: var(--font-alt);
    font-size: 2.2rem;
    font-weight: var(--font-weight-bolder);
}

.program p {
    font-family: var(--font-main);
    font-size: 1.8rem;
    padding-top: var(--spacing-main);
}

/* Footer */
.footer {
    height: 15rem;
    font-family: var(--font-main);
    font-size: 1.4rem;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    box-shadow: inset 0 20px 20px rgba(0, 0, 0, 0.1);
}


@media (min-width: 1440px){
    .hero-content {
        margin-right: 50rem;
    } 
    .hero-text {
        padding: 3rem 5em 3rem 5rem;
    }
}

@media (max-width: 1080px){
    .hero-content {
        margin-right: 0;
    }
    .hero-title {
        padding-left: 0;
        text-align: center;
        margin: 0 auto;
        font-size: 3.78rem;
        width: 80%;
    }
    .hero-section {
        background-size: contain;
        height: 45rem;
    }
    .hero-title .highlight::after {
        padding-left: 16.3rem;
        height: 1rem;
    }

    .hero-text {
        max-width: 100%;
        text-align: left;
        padding: 2rem 4rem 2rem 0rem;
    }

    .programs-section h2 {
        font-size: 2.7rem;
        padding: 4rem 0rem 2rem 0rem;
    }

    .programs-section {
        margin: 0 8rem;
    }
    .programs {
        flex-direction: column;
    }
    .program h3 {
        font-size: 1.76rem;
        font-weight: 400;
    }
    .program {
        width: 100%;
    }
    .programs-section em::after {
        padding-left: 6.9rem;
    }
}

@media (max-width: 675px) {
    .header-top-menu {
        display: none;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 1rem;
    }
    .header-logo img {
        height: 5rem;
    }
    .header-top-menu {
        display: none;
    }
    .hero-section {
        height: 70vh;
        background-size: cover;
        background-position: top right;
    }
    .hero-content {
        padding-bottom: 0;
    }
    .hero-title {
        font-size: 3.2rem;
        width: 100%;
    }
    .hero-text {
        height: fit-content;
        padding: 2rem 2rem 2rem 1rem;
    }
    .programs-section {
        margin: 0 2rem;
    }
}
