body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background: linear-gradient(135deg, #FFA500, #007BFF);
    color: #fff;
    padding: 20px;
  }
  
  h1, h2, h3 {
    color: #fff;
  }
  
  ul, p {
    color: #fff;
  }
  
  img {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
  }
  