<html>
<head>
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" id="redux-google-fonts-salient_redux-css" href="https://fonts.googleapis.com/css?family=Poppins%3A600%2C400%7CMontserrat%3A800%2C900%2C700&amp;ver=1597678827" type="text/css" media="all">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins%3A600%2C400%7CMontserrat%3A800%2C900%2C700&#038;ver=1597678827' type='text/css' media='all' />
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header class="header">
        <div class="header-logo">
            <a href="index.html">
                <img src="logo.png" alt="Code Differently Logo" />
            </a>
        </div>
        <ul class="header-top-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <div class="header-cta">
            <a class="sign-up-button" href="#">Sign Up</a>
        </div>
    </header>
    <div class="main">
        <div class="content">
            <article>
                <section class="hero-section">
                    <div class="hero-overlay"></div>
                    <div class="hero-content">
                        <h2 class="hero-title">Together we can move the needle of <em class="highlight">diversity in tech.</em></h2>
                        <div class="hero-text"><span>Code Differently</span> provides hands on training and education through coding classes that gives participants the technical and cognitive skills they need to excel in technology-driven workplaces.</div>
                    </div>
                </section>
                <section class="programs-section">
                    <h2>Our <em class="highlight">Programs</em></h2>
                    <ul class="programs">
                        <li class="program">
                            <h3>1000 Kids Coding</h3>
                            <p>The Code Differently 1000 Kids Coding program was created to expose New Castle County students to computing and programming. The 1000 Kids Coding courses are designed for all experience levels, no experience required.</p>
                        </li>
                        <li class="program">
                            <h3>Return Ready</h3>
                            <p>The Code Differently Workforce Training Initiatives were created to help individuals underrepresented in tech reinvent their skills to align with the changing workforce market. If you are ready to start your tech journey, join our talent community today.</p>
                        </li>
                        <li class="program">
                            <h3>Pipeline DevShops</h3>
                            <p>Pipeline DevShop is a youth work-based learning program. Youth participants experience working in a real software development environment while sharpening their technology and soft skills.</p>
                        </li>
                        <li class="program">
                            <h3>Platform Programs</h3>
                            <p>Platform programs are designed for high school graduates, college students, career changers, or professionals looking to develop the technology job readiness skills for today’s workforce.</p>
                        </li>
                    </ul>
                </section>
        </article>
        </div>
    </div>
    <footer class="footer">
        &copy; 2024 Code Differently
    </footer>
</body>
</html>